<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<input id="url" value="http://localhost:8081/shop/download"/>
<button id="shops">点击</button>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.7.2/axios.js"></script>
<script>
    document.getElementById('test').onclick = function() {
        let apiurl = document.getElementById('url').value;
        let params = {
            "id": "1846783495678988290",
        };
        this.exportLoading = true
        //注意：post和get api写法  参考https://www.axios-http.cn/docs/req_config
        axios.get(apiurl, {
            params: params,
            responseType: 'blob',
            headers:{
                'X-Access-Token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3MjkyNDQ1ODAsInVzZXJuYW1lIjoiZ3pyb25naGV5dyJ9.kEmaknbepFRDxW4PXfnvUE3Hh9UWk_x-7wYeH49jWs0'
            }}).then( (response) =>{
            console.log('response', response, response.data.size)
            if(response.data){
                console.log("111111")
                const blob = new Blob([response.data],{type: 'application/vnd.ms-excel'})
                const linkNode = document.createElement('a');
                linkNode.style.display = 'none';
                linkNode.href = URL.createObjectURL(blob); //生成一个Blob URL
                document.body.appendChild(linkNode);
                linkNode.click();  //模拟在按钮上的一次鼠标单击
                URL.revokeObjectURL(linkNode.href); // 释放URL 对象
                document.body.removeChild(linkNode);
                console.log("222222")
            }
        }).catch( (error) =>{
            console.log(error);
        });

    }
</script>
</html>